// Color scheme
$color-primary: #26547C; // A deep blue for primary actions and headers
$color-secondary: #EF476F; // A vibrant pink for secondary actions and highlights
$color-success: #06D6A0; // A bright teal for success states
$color-view: #7091b1;
$color-error: #FF595E; // A strong red for error states
$color-background: #F5F5F5;
$color-body: #7091b1;// A very light grey, almost white, for the body background
$color-text: #212529; // A very dark shade of gray for better readability
$color-text-secondary: #ffffff; // White color for text that needs to stand out, like on the primary color background
$color-border: #ced4da;
// Typography
$font-stack: 'Nunito', 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Spacing
$spacing-base: 1rem;
