.modalPlaceholder {
    height: 80%;
    width: 35%;
    border-radius: 22px;
    display: flex;
    background-color: #5D89BA;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.titleContainer {
    height: 20%;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1D638E;
    margin-bottom: 50px;
}

.titleText {
    font-size: 43px;
    color: #FFFFFF;
    margin: 0;
}

.groupSelect{
    height: 40px;
    width: 95%;
    margin-top: 10px;
    border-radius: 12px;
    font-size: 20px;
    color: #1D638E;
    margin-bottom: 10px;
    text-align: center;
}

.queueFormContainer{
    height: 25%;
    width: 45%;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.queueFormLabel{
    height: 50px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0;
    background-color: #1E6590;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 20px;
    color: #FFFFFF;
}

.queueForm{
    height: 69%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;;
    box-sizing: border-box;
    padding: 10px;
}

.inputContainer {
    height: 100%;
    width: 100%;
}

.inputContainer label {
    display: block;
    margin-bottom: 5px;
}

.inputHandler{
    height: 25%;
    width: 95%;
    display: flex;
    justify-content: space-between;
}

input[type="text"]{
    height: 25px;
    width: 50%;
}

input[type="text"]{
    /*padding: 10px;*/
    width: 90%;
    border: 1px solid #ddd;
    border-radius: 20px;
    box-sizing: border-box;
    /*margin-bottom: 10px;*/
}

input[type="text"]:focus,
select:focus {
    outline: none;
    border-color: blue;
}

.dropZone{
    height: 50%;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
    background-image: url('../images/uploadIcon.svg');
    background-color: #FFFFFF;
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.25) inset;
}

.btn {
    height: 30px;
    color: #00416A;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
    width: 30%;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    outline: none;
}

.buttonGroup {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
}

.continue{
    background-color: #ADD8E6;
    margin-left: 10px;
}
